*{box-sizing: border-box;}

body{
background-color: rgb(41, 0, 41);
font-family: Verdana, Arial, default sans-serif;
}

#wrapper{
margin-left: auto;
margin-right: auto;
width: 80%;
min-width: 940px;
background-color: #bd87c4;
color: #ffdd47;
box-shadow: 3px 3px 3px #ffdd47;
}

header{
    background-color: rgb(59, 2, 71);
    color:#ffdd47 ;
    text-shadow: 2px 2px 2px  #eaeaea;
    font-size: 150%;
    padding: 10px 10px 10px 150px;
    height: 150px;
    background-image: url(movie\ poster.jpg);
    background-repeat: no-repeat;
}

nav{
    float: right;
    width: 150px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

main{
    background-color: #9f3ca8;
    color: #eaeaea;
    padding: 10px 20px;
    overflow: auto;
    display: block;
    image-resolution: 1600;
}

footer{ 
    font-size: 70%;
    text-align: center;
    padding: 10px;
    background-color: rgb(59, 2, 71);
    clear: both;
}

h2{
    color:#ffdd47;
    font-family: arial, sans-serif;
    text-shadow: 1px 1px 1px #eaeaea;
}

h4{
    color:#ffdd47;
    font-family: arial, sans-serif;
    text-shadow: 1px 1px 1px #eaeaea;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    background-color: #bd87c4;
    padding: 20px;
    border-bottom: 1px solid #ffdd47;
    display: block;
}

nav a:visited{
    color: #eaeaea;
}

nav a:hover{
    color: #ffdd47;
    background-color: #eaeaea;
}