body{background-color: #311432;}
h1{background-color: #795F80;
    color: #EDC001
}
p{color:#EDC}
h4{background-color: #795F80;
    color: #EDC001;}
ul{color: #EDC;}
footer{background: #795F80;}